.app-sidebar {
    /* width: 30%; */
    height: 100vh;
    background-color: rgb(254, 241, 214);
    border: 1px solid rgb(218, 206, 183);
    color: #333;
    flex: 0 0 30%;
}

.app-sidebar-header {
    display: flex;
    text-align: right;
    border-bottom: 1px solid #bccde09d;
    cursor: pointer;
    padding: 10px;
    justify-content: space-between;
}

.search {
    display: block;
    flex: 0 1 60%;
    margin: 0 10px 0 0;
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    background: rgba(218, 206, 183);
    border: 1px solid rgb(180, 170, 150);
}

.app-sidebar-header button {
    flex: 0 1 30%;
    background: rgb(217, 163, 81);
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}

.app-sidebar-notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

.app-sidebar-note {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #bccde09d;
    /* border-bottom: 1px solid #fff; */
}

.app-sidebar-note p {
    margin: 5px 0;
    font-size: 14px;
}

.app-sidebar-note small {
    color: #999;
    font-size: 12px;
}

.app-sidebar-note:hover {
    background: rgba(218, 206, 183);
}

.app-sidebar-note.active {
    background: rgba(218, 206, 183);
}

.sidebar-note-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
}

.app-main-note-edit #title ,.app-main-note-edit #content{
    font-family: 'Zen Maru Gothic', sans-serif;

}

